* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('bg.jpg');
}

.main{
    display: inline-grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    width: -webkit-fill-available;
}

.img-div{
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.img{
    height: 90vh;
    width: max-content;
    overflow: hidden;

}

.svg-div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 21px;
    justify-self: anchor-center;
}

.svgg{
    max-width: 40px;
    max-height: min-content;
    min-width: 100%;
    min-height: max-content;
    cursor: pointer;
}

.dots{
    grid-column: 1 / span 3;
     display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 80px;

}

.dot1, .dot2, .dot3, .dot4, .dot5, .dot6, .dot7, .dot8, .dot9, .dot10, .dot11{
    color: white;
    background: white;
    border-radius: 50px;
    width: 10px;
    height: 10px;
}

.dot-black {
    color: black;
    background: black;
    border-radius: 50px;
    width: 10px;
    height: 10px;
}