body {
    background-image: url('bg.jpg');
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: 90vh;
    width: max-content;
    overflow: hidden;
}